@page
@model PWA_Blog_Application.Pages.Admin.Blog.CreateBlogModel
@{
}

@if (Model.Author.AuthorId != 0)
{
    <form method="post">
        <input asp-for="Author.AuthorId" type="hidden" />
        <div>
            <label asp-for="Author.Author_FirstName">Select The Author</label>
            <select asp-for="Author.Author_FirstName" asp-items="Model.AutherList"></select>
            <span asp-validation-for="Author.Author_FirstName"></span>
        </div>
        <div>
            <label asp-for="Blog.BlogTitle"></label>
            <input asp-for="Blog.BlogTitle" />
            <span asp-validation-for="Blog.BlogTitle"></span>
        </div>
        <div>
            <label asp-for="Blog.BlogContent"></label>
            <textarea asp-for="Blog.BlogContent" rows="2"></textarea>
            <span asp-validation-for="Blog.BlogContent"></span>
        </div>
        <div>
            <label asp-for="Blog.PublishDate"></label>
            <input asp-for="Blog.PublishDate" />
            <span asp-validation-for="Blog.PublishDate"></span>
        </div>

        <input type="button" value="Cancel" />
        <input type="submit" value="Create Blog" />
    </form>
}
